name: Build Jayo on every push

on: [ push ]

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        distribution: [ 'temurin', 'corretto' ]
        java-version: [ '17', '21', '25' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.distribution }}
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Execute tests, including slow tests
        run: ./gradlew build -Dtest.java.version=${{ matrix.java-version }} -PisCI
